

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<title>AngularJS Whiteboard</title>
</head>

<body>

<div ng-app="">
 


<textarea name="message" rows="10" cols="30" ng-model="writing">
</textarea>
<button>Erase</button>
<span>    Marker color: <input type = "text" size = "7" ng-model="marker_color"></span>



<br>
<br>

<div id = "whiteboard" ng-bind="writing | limitTo : 34 " ng-style="{ color : marker_color}">	
</div>


</div>
<script>
$("button").click(function(event){
  event.preventDefault();
  $("textarea").val('');
  $("#whiteboard").empty();
  //The erase function now works, but the one-size fits all character limit doesn't do very well
  console.log("Erasing");
});
</script>
</body>
</html>
