@media only screen and (min-width: 1700px){

#whole
{
  margin-left: 20%;
}
}


#whiteboard 
{
	font-family: cursive;
	font-size: 48px;
	background-image: url('whiteboard_pic.png');
	background-repeat: no-repeat;
	padding: 25px;
	height: 700px;
}

span {
	margin-left: 24px;
}
